@page "/properties/delete"
@using Microsoft.EntityFrameworkCore
@using RentalSystem.Models
@inject IDbContextFactory<RentalSystem.Data.RentalSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Property</h2>
    <hr />
    @if (property is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@property.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@property.Address</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Assigned to:</dt>
            <dd class="col-sm-10">@property.Landlord.FirstName @property.Landlord.LastName</dd>
        </dl>
        <EditForm method="post" Model="property" OnValidSubmit="DeleteProperty" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(property is null)">Delete</button> |
            <a href="/properties">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Property? property;

    [SupplyParameterFromQuery]
    private int PropertyId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        property = await context.Properties.Include(p => p.Landlord).FirstOrDefaultAsync(m => m.PropertyId == PropertyId);

        if (property is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProperty()
    {
        using var context = DbFactory.CreateDbContext();
        context.Properties.Remove(property!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/properties");
    }
}
